.header
{
    background: $off-black;
    color:white;
    margin: 0px;
    margin-bottom: $s-size;
  
    padding: $m-size 0 ;
   
}

.header__title
{
        font-size: $l-size;
        margin: 0;
}

.header__subtitle
{
    color: wheat;
    font-size: $m-size;
    padding :0;
    margin:0;
}

@media(min-width:$desktopBreakPoint)
{
    .header
    {
        margin-bottom: $xl-size;
    }
}